@model BPTennis.MVC.Models.SessionModel 

@{
    ViewBag.Title = "Session";
}
<table>
    <h3>@Model.Date.ToString("yyyy-MM-dd")</h3>
    <tr>
        <th style="width:500px"><h2>Available Players</h2></th>
        <th><h2>Courts</h2></th>
    </tr>
@foreach (var item in Model.Pool.Players) {
    <tr>
        <td>
           <input type="button" value="@item.DisplayName" style="width:200px" />
        </td>

        <td>
            @* lys van bane en die spelers op hulle *@
        </td>

    </tr>
}
</table>

<p>
    @Html.ActionLink("Add Player", "AddActive", new { sessionId = Model.Id})
</p>

