@model BPTennis.MVC.Models.CommentsModel

@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">   

    function AddComment() {
        var playerName = document.getElementById('playerName').value;
        var playerComment = document.getElementById('playerComment').value;
        document.location.href = "Comment/AddComment?name=" + playerName + "&comment=" + playerComment;
    }

</script>

<h2>Add a comment</h2>


<table>
    <tr>
        <th>
            @Html.ActionLink("View Comments", "Comments")
        </th>
    </tr>
</table>

<table>
    <tr>
        <td>
            Name:
        </td>
        <td>
            <input id="playerName" type="text" style="border:double; width:150px;" />
        </td>        
    </tr>
    <tr>
        <td>
            Comment:
        </td>
        <td>
            <textarea id="playerComment" style="height:150px; width:500px; border:double"></textarea>
        </td>
    </tr>
    <tr>
        <td>
            <input id="button1" type="button" style="width:150px" value="Add Comment" onclick="AddComment()" />
        </td>
    </tr>
</table>


