@model IEnumerable<BPTennis.MVC.Models.CommentsModel>

@{
    ViewBag.Title = "Index";
}

<h2>Add a comment</h2>

<table>
    <tr>
        <td>
            Name:
        </td>
        <td>
            <input type="text" style="border:medium; width:150px;" />
        </td>        
    </tr>
    <tr>
        <td>
            Comment:
        </td>
        <td>
            <input type="text" style="border:medium; width:750px; height:250px;" />
        </td>
    </tr>
    <tr>
        <td>
            <input type="button" style="width:150px" value="Add Comment" onclick="" />
        </td>
    </tr>


</table>


