@model BPTennis.MVC.Models.SearchModel

@{
    ViewBag.Title = "Index";
}

<script>

    function Search(date) {
        document.location.href = "Search/PlayersFromSelectedDate?sessionId=@Model.SessionId"
    }

</script>

<h2>Index</h2>

<table>
    <tr>
        <th style="width:150px;">
            Please Specify Date: 
        </th>
        <td>
            <input id="date" type="text" style="width:200px;" />
        </td>
    </tr>
    <tr>
        <td>
            <input type="button" style="width:150px; height:100px;" value="Search" onclick="Search(document.getElementById('date'))" />
        </td>        
    </tr>
</table>
